  html{
    background-color: rgba(122, 191, 191, .5);
  }
  body{
    background-color: #F2F2F2;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 192px;
  }
/*-- section one --*/

#sec1 div{
    display: flex;
    flex-direction: row; 
}

#sec1 h1{
    align-items: center;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    padding-top: 3rem;
}

#side-nav{
    flex-direction: column;   
}
#tacos img{
    max-width: 100%;
    height: auto;
    width: 450px;  
}
#tacos p{
    max-width: 100%;
    padding: 20px;
    margin-top:60px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;      
}
#side-nav nav{
    border: 1px solid #EB5428; 
}
#side-nav li{
    list-style-type: none;
    padding-right: 2rem;
    padding-top: 1rem;
}
#side-nav a {
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px; 
}
#side-nav a:hover{
    text-decoration:underline;  
}

#side-nav a:visited{
    color: black;
}

#side-nav span{
    color:#EB5428;
}

/*-- section two --*/

#detail-bar{
    background-color: black;
    color: #7ABFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detail-bar h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;

}

#detail-bar li{
    display: inline-block;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin:0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    
}

#detail-bar span{
    display: block;
    font-weight: 400;
}

#process{
    display: flex;
    flex-direction: row;
    

}
#process > #directions{
    padding-left: 30px;
}
#process h2, #sec3 h2{
text-align: center;
font-family: "Bebas Neue", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
}

#process li{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;

}

/*-- section three --*/

#sec3{
    background-color: #7ABFBF;
  padding-bottom: 25px;
}
#side-dishes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

#side-dishes img{
    max-width: 100%;
    width: 250px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: -45px;
    
    
}

.rated-dishes h3{
    position: relative;
    bottom: -270px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;    
}

.rated-dishes p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

/*-- Top Nav header --*/



#top-nav{
    width: 100%;
    max-width: 1280px;
    height: 45px;
    position: absolute; 
    background-color: #F2F2F2;
    text-align: center;
    margin-top: -50px;
    top: -50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#search-bar{
  display: flex;
  position: relative;
  align-items: center;
  justify-content:center;
  margin-top: -50px;
  top: -1856px;
  width:100%;
  height: auto;
}

form{ 
  display: flex;
  border:1px solid #eb5428;
  width: 225px;
  height: 30px;
}

form input{
  flex: 1;
  border: none;
  outline: none;
}

form button{
  background: #eb5428;
  border: none ;
  outline: none;
}
button svg{
  height: 100%;
  max-height: 30px;
  stroke: white;
}

#top-nav #ham-menu {
visibility: hidden;
}

#top-nav nav{
    margin:10px;
    margin-top: -4px;    
}

#top-nav li{
    display: inline-block;
    list-style: none;
    padding-right: 0.9rem;
    margin-right: 1rem;

}
#top-nav nav a{
    text-decoration: none;
}

#top-nav span{
    display: block;
    color: #eb5428;
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px; 
}
#home > span{
    visibility: hidden;
}

#top-nav img{
    max-width: 100%;
    height: auto;
    width: 95px;
}
#home svg{
    max-width:100%;
    max-height: 100%;
    position: relative;
    right: -11px;
    margin-top: 1rem;
    background-color: #EB5428;
}
ul>#home{
    position: relative;
    right: -26px;
    margin-right: 9rem;
    margin-left: -3rem;
    width: 50px; 
    height: 100px; 
    background-color: #EB5428;
    
}
#home span{
    visibility: hidden;
}
ul>#avatar{
    padding-left: 3rem;    
}
#avatar svg{
    stroke:#EB5428;
}
/*footer*/

footer{
  background: white;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
footer a{
  text-decoration: none;
}
footer ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0; 
}
#socials svg{
  display: block;
  margin: 0 auto;
}
#socials span{
  margin-top: 3px;
  margin-right: 45px; 
}
footer span{
   color: #eb5428;
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px; 
}
footer img{
  width: 200px; 
  max-width:100%;      
}
#copyright{
    position: relative;
    margin-right: 700px;
}

#copyright p, #copyright h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px; 
}

footer h2, footer h3{
  display:none;
}

/*Media Queries*/

@media only screen and (max-width: 1280px){
  #search-bar{
    top: -1856px
  }
}

@media only screen and (max-width: 768px){
  body{ 
    width:768px;
    max-width: 100%;
  }
  #sec1 div{
    flex-direction: column;
  }
  #sec1 h1{
    font-weight: 400;
    font-size: 35px;
    font-style: normal;
    padding-top: 5rem;
    margin-right: 550px;
  }
  #tacos img{ 
    width:768px;
    max-width:100%;
  }
  #side-nav li{
    display: inline;
  }

  #side-dishes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 75px;
}
  #detail-bar{
    background-color: #F2F2F2;;
    color: #060606;
    display: flex;
    align-items: center;
}
  #detail-bar li{
    padding: 0;
    display: block;
}
  #search-bar{
    top: -3340px;
    right: -300px;
  }
  #top-nav li{
    width: 65px;
  }
footer li{
  margin-right: 23px;
}
  


